<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="(item,index) in list" :key="item.id">
                {{item.name}}---{{index}}
            </li>
             <li v-for="(value,name) in student" :key="name">
                 {{name}}---{{value}}
             </li>
        </ol>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                student:{
                    name:'yyy',
                    age:12,
                    address:"hhhh"
                },
                list:[
                    {id:1,name:'sb1'},
                    {id:2,name:'sb2'},
                    {id:3,name:'sb3'}
                ]
            },
            methods:{

            }
        });
    </script>
</body>
</html>