<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue-2.6.11.js"></script>
</head>
<body>
    <div id="app">
        
        <input type="text" v-model="firstname" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
        <input type="text" v-model="lastname" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
        <input type="text" v-model = "fullname" name="" id="input" class="form-control" value="" required="required" pattern="" title="">
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                firstname:'',
                lastname:'',
                fullname:'',
            },
            watch:{
                'firstname':function(newVal,oldValue){
                    this.fullname = newVal+"-"+this.lastname;
                },
                'lastname':function(newVal,oldVal){
                    this.fullname = this.firstname+"-"+newVal;
                }
            }
        })
    </script>
</body>
</html>