<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue-2.6.11.js"></script>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">
                <input type="text" name="" id="new-todo" placeholder="please input content" v-model="newContext">
            </label>
            <button type="submit">Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(item, index) in todos" :key="item.id" v-bind:title="item.title"
                v-on:remove="todos.splice(index,1)"></li>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', {
            template: '<li>{{title}}<button v-on:click="$emit(\'remove\')">Remove</button></li>',
            props: ['title']
        })
        var app = new Vue({
            el: "#app",
            data: {
                newContext: '',
                nextTodoId: 4,
                todos: [{
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ]
            },
            methods: {
                addNewTodo() {
                
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newContext
                    });
                    this.newContext = '';
                }
            }
        })
    </script>
</body>

</html>